caption {
    font-size: 2em;
    font-weight: 700;
}

table {
    width: 500px;
}

tfoot tr td {
    text-align: center;
}

table, th, td {
    border: 2px, solid, rgb(116, 116, 116);
    border-style: groove;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

tbody tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

tbody tr:nth-child(odd) {
    background-color: rgb(230, 230, 230);
}

tbody tr:hover {
    background-color: rgb(211, 211, 211);
}